body {
    font-family: 'Abel', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;

}
body {
    background-image: url('../Parcial-segunda-parte/fotos1/fondo1.png');
}
h1, h3 { 
    background-color: antiquewhite;
    display: inline-block;
}
.intro p{
    background-color: antiquewhite;
    padding: 15px;

}
.menu a {
    background-color: antiquewhite;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}