body {
    font-family: 'Abel', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../Parcial-segunda-parte/fotos1/fondo1.png');
}
 p, a, ul, li { 
    background-color: antiquewhite;
    display: inline-block;
}
h1 {
    background-color: antiquewhite;
    font-size: 3rem;
    width: max-content;
    margin: 0 auto 1.5rem auto;
    text-align: center;
}
h3 {
    background-color: antiquewhite;
    font-size: 1rem;
    width: max-content;
    margin: 0 auto 1.5rem auto;
    text-align: center;
}
nav {
    display: block;
    background-color: #3d3f4f;
    padding: 0.5rem 0.5rem;
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: max-content;
}
nav a:link {
    color: #10110f; 
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #a0eeeb; 
    transition: all 0.3s ease;
}
nav a:visited {
    color: #070809; 
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #aeb7ba;
}
nav a:hover {
    color: #000000;
    background-color: #434db9;
}
nav a:active {
    color: #070609;
    background-color: #bcd7e1;
}
